{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0.0",
    "title": "JioSaavn API",
    "description": "# Introduction \n        \nJioSaavn API, accessible at [saavn.dev](https://saavn.dev), is an unofficial API that allows users to download high-quality songs from [JioSaavn](https://jiosaavn.com). \n        It offers a fast, reliable, and easy-to-use API for developers. \n"
  },
  "servers": [
    {
      "url": "https://saavn.dev",
      "description": "Current environment"
    }
  ],
  "components": {
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/api/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Global search",
        "description": "Search for songs, albums, artists, and playlists based on the provided query string.",
        "operationId": "globalSearch",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Search query",
              "title": "Search query",
              "example": "Imagine Dragons"
            },
            "required": true,
            "name": "query",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful global search",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the search was successful",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "albums": {
                          "type": "object",
                          "properties": {
                            "results": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "image": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "quality": {
                                          "type": "string"
                                        },
                                        "url": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "quality",
                                        "url"
                                      ]
                                    }
                                  },
                                  "artist": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "year": {
                                    "type": "string"
                                  },
                                  "language": {
                                    "type": "string"
                                  },
                                  "songIds": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "title",
                                  "image",
                                  "artist",
                                  "url",
                                  "type",
                                  "description",
                                  "year",
                                  "language",
                                  "songIds"
                                ]
                              }
                            },
                            "position": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "results",
                            "position"
                          ]
                        },
                        "songs": {
                          "type": "object",
                          "properties": {
                            "results": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "image": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "quality": {
                                          "type": "string"
                                        },
                                        "url": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "quality",
                                        "url"
                                      ]
                                    }
                                  },
                                  "album": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "primaryArtists": {
                                    "type": "string"
                                  },
                                  "singers": {
                                    "type": "string"
                                  },
                                  "language": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "title",
                                  "image",
                                  "album",
                                  "url",
                                  "type",
                                  "description",
                                  "primaryArtists",
                                  "singers",
                                  "language"
                                ]
                              }
                            },
                            "position": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "results",
                            "position"
                          ]
                        },
                        "artists": {
                          "type": "object",
                          "properties": {
                            "results": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "image": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "quality": {
                                          "type": "string"
                                        },
                                        "url": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "quality",
                                        "url"
                                      ]
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "position": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "id",
                                  "title",
                                  "image",
                                  "type",
                                  "description",
                                  "position"
                                ]
                              }
                            },
                            "position": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "results",
                            "position"
                          ]
                        },
                        "playlists": {
                          "type": "object",
                          "properties": {
                            "results": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "image": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "quality": {
                                          "type": "string"
                                        },
                                        "url": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "quality",
                                        "url"
                                      ]
                                    }
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "language": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "title",
                                  "image",
                                  "url",
                                  "language",
                                  "type",
                                  "description"
                                ]
                              }
                            },
                            "position": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "results",
                            "position"
                          ]
                        },
                        "topQuery": {
                          "type": "object",
                          "properties": {
                            "results": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "image": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "quality": {
                                          "type": "string"
                                        },
                                        "url": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "quality",
                                        "url"
                                      ]
                                    }
                                  },
                                  "album": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "primaryArtists": {
                                    "type": "string"
                                  },
                                  "singers": {
                                    "type": "string"
                                  },
                                  "language": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "title",
                                  "image",
                                  "album",
                                  "url",
                                  "type",
                                  "description",
                                  "primaryArtists",
                                  "singers",
                                  "language"
                                ]
                              }
                            },
                            "position": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "results",
                            "position"
                          ]
                        }
                      },
                      "required": [
                        "albums",
                        "songs",
                        "artists",
                        "playlists",
                        "topQuery"
                      ],
                      "description": "Search results including songs, albums, artists, and playlists"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/search/songs": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search for songs",
        "description": "Search for songs based on the provided query",
        "operationId": "searchSongs",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Search query for songs",
              "title": "Search query",
              "example": "Believer"
            },
            "required": true,
            "name": "query",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "description": "The page number of the search results to retrieve",
              "title": "Page Number",
              "example": 0,
              "default": 0
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "description": "Number of search results per page",
              "title": "Limit",
              "example": 10,
              "default": 10
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with song search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the song search was successful",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "start": {
                          "type": "number"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "year": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "releaseDate": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "duration": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "explicitContent": {
                                "type": "boolean"
                              },
                              "playCount": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "language": {
                                "type": "string"
                              },
                              "hasLyrics": {
                                "type": "boolean"
                              },
                              "lyricsId": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "lyrics": {
                                "type": "object",
                                "properties": {
                                  "lyrics": {
                                    "type": "string"
                                  },
                                  "copyright": {
                                    "type": "string"
                                  },
                                  "snippet": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "lyrics",
                                  "copyright",
                                  "snippet"
                                ]
                              },
                              "url": {
                                "type": "string"
                              },
                              "copyright": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "album": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "name": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "url": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "name",
                                  "url"
                                ]
                              },
                              "artists": {
                                "type": "object",
                                "properties": {
                                  "primary": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "role": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        },
                                        "image": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "quality": {
                                                "type": "string"
                                              },
                                              "url": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "quality",
                                              "url"
                                            ]
                                          }
                                        },
                                        "url": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "name",
                                        "role",
                                        "type",
                                        "image",
                                        "url"
                                      ]
                                    }
                                  },
                                  "featured": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "role": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        },
                                        "image": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "quality": {
                                                "type": "string"
                                              },
                                              "url": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "quality",
                                              "url"
                                            ]
                                          }
                                        },
                                        "url": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "name",
                                        "role",
                                        "type",
                                        "image",
                                        "url"
                                      ]
                                    }
                                  },
                                  "all": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "role": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        },
                                        "image": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "quality": {
                                                "type": "string"
                                              },
                                              "url": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "quality",
                                              "url"
                                            ]
                                          }
                                        },
                                        "url": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "name",
                                        "role",
                                        "type",
                                        "image",
                                        "url"
                                      ]
                                    }
                                  }
                                },
                                "required": [
                                  "primary",
                                  "featured",
                                  "all"
                                ]
                              },
                              "image": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "quality": {
                                      "type": "string"
                                    },
                                    "url": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "quality",
                                    "url"
                                  ]
                                }
                              },
                              "downloadUrl": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "quality": {
                                      "type": "string"
                                    },
                                    "url": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "quality",
                                    "url"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "type",
                              "year",
                              "releaseDate",
                              "duration",
                              "label",
                              "explicitContent",
                              "playCount",
                              "language",
                              "hasLyrics",
                              "lyricsId",
                              "url",
                              "copyright",
                              "album",
                              "artists",
                              "image",
                              "downloadUrl"
                            ]
                          }
                        }
                      },
                      "required": [
                        "total",
                        "start",
                        "results"
                      ],
                      "description": "Search results for songs"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/search/albums": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search for albums",
        "description": "Search for albums based on the provided query",
        "operationId": "searchAlbums",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Search query for albums",
              "example": "Evolve"
            },
            "required": true,
            "name": "query",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "description": "The page number of the search results to retrieve",
              "example": 0,
              "default": 0
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "description": "The number of search results per page",
              "example": 10,
              "default": 10
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with album search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the album search was successful",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "start": {
                          "type": "number"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "year": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "type": {
                                "type": "string"
                              },
                              "playCount": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "language": {
                                "type": "string"
                              },
                              "explicitContent": {
                                "type": "boolean"
                              },
                              "artists": {
                                "type": "object",
                                "properties": {
                                  "primary": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "role": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        },
                                        "image": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "quality": {
                                                "type": "string"
                                              },
                                              "url": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "quality",
                                              "url"
                                            ]
                                          }
                                        },
                                        "url": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "name",
                                        "role",
                                        "type",
                                        "image",
                                        "url"
                                      ]
                                    }
                                  },
                                  "featured": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "role": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        },
                                        "image": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "quality": {
                                                "type": "string"
                                              },
                                              "url": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "quality",
                                              "url"
                                            ]
                                          }
                                        },
                                        "url": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "name",
                                        "role",
                                        "type",
                                        "image",
                                        "url"
                                      ]
                                    }
                                  },
                                  "all": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "role": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        },
                                        "image": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "quality": {
                                                "type": "string"
                                              },
                                              "url": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "quality",
                                              "url"
                                            ]
                                          }
                                        },
                                        "url": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "name",
                                        "role",
                                        "type",
                                        "image",
                                        "url"
                                      ]
                                    }
                                  }
                                },
                                "required": [
                                  "primary",
                                  "featured",
                                  "all"
                                ]
                              },
                              "url": {
                                "type": "string"
                              },
                              "image": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "quality": {
                                      "type": "string"
                                    },
                                    "url": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "quality",
                                    "url"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "description",
                              "year",
                              "type",
                              "playCount",
                              "language",
                              "explicitContent",
                              "artists",
                              "url",
                              "image"
                            ]
                          }
                        }
                      },
                      "required": [
                        "total",
                        "start",
                        "results"
                      ],
                      "description": "Search results for albums"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/search/artists": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search for artists",
        "description": "Search for artists based on the provided query",
        "operationId": "searchArtists",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Search query for artists",
              "title": "Search query",
              "example": "Adele"
            },
            "required": true,
            "name": "query",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "description": "The page number of the search results to retrieve",
              "title": "Page Number",
              "example": 0,
              "default": 0
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "description": "Number of search results per page",
              "title": "Limit",
              "example": 10,
              "default": 10
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with artist search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the artist search was successful",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "start": {
                          "type": "number"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "role": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "image": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "quality": {
                                      "type": "string"
                                    },
                                    "url": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "quality",
                                    "url"
                                  ]
                                }
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "role",
                              "type",
                              "image",
                              "url"
                            ]
                          }
                        }
                      },
                      "required": [
                        "total",
                        "start",
                        "results"
                      ],
                      "description": "Search results for artists"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/search/playlists": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search for playlists",
        "description": "Search for playlists based on the provided query",
        "operationId": "searchPlaylists",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Search query for playlists",
              "title": "Search query",
              "example": "Indie"
            },
            "required": true,
            "name": "query",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "description": "The page number of the search results to retrieve",
              "title": "Page Number",
              "example": 0,
              "default": 0
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "description": "Number of search results per page",
              "title": "Limit",
              "example": 10,
              "default": 10
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with playlist search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the playlist search was successful",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "start": {
                          "type": "number"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "image": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "quality": {
                                      "type": "string"
                                    },
                                    "url": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "quality",
                                    "url"
                                  ]
                                }
                              },
                              "url": {
                                "type": "string"
                              },
                              "songCount": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "language": {
                                "type": "string"
                              },
                              "explicitContent": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "type",
                              "image",
                              "url",
                              "songCount",
                              "language",
                              "explicitContent"
                            ]
                          }
                        }
                      },
                      "required": [
                        "total",
                        "start",
                        "results"
                      ],
                      "description": "Search results for playlist"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/songs": {
      "get": {
        "tags": [
          "Songs"
        ],
        "summary": "Retrieve songs by ID or link",
        "description": "Retrieve songs by a comma-separated list of IDs or by a direct link to the song on JioSaavn.",
        "operationId": "getSongByIdsOrLink",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated list of song IDs",
              "title": "Song IDs",
              "example": "3IoDK8qI,4IoDK8qI,5IoDK8qI"
            },
            "required": false,
            "name": "ids",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "A direct link to the song on JioSaavn",
              "title": "Song Link",
              "example": "https://www.jiosaavn.com/song/houdini/OgwhbhtDRwM"
            },
            "required": false,
            "name": "link",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with song details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "year": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "releaseDate": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "duration": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "label": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "explicitContent": {
                            "type": "boolean"
                          },
                          "playCount": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "language": {
                            "type": "string"
                          },
                          "hasLyrics": {
                            "type": "boolean"
                          },
                          "lyricsId": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "lyrics": {
                            "type": "object",
                            "properties": {
                              "lyrics": {
                                "type": "string"
                              },
                              "copyright": {
                                "type": "string"
                              },
                              "snippet": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "lyrics",
                              "copyright",
                              "snippet"
                            ]
                          },
                          "url": {
                            "type": "string"
                          },
                          "copyright": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "album": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "name": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "url"
                            ]
                          },
                          "artists": {
                            "type": "object",
                            "properties": {
                              "primary": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "role": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "image": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "quality": {
                                            "type": "string"
                                          },
                                          "url": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "quality",
                                          "url"
                                        ]
                                      }
                                    },
                                    "url": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "name",
                                    "role",
                                    "type",
                                    "image",
                                    "url"
                                  ]
                                }
                              },
                              "featured": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "role": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "image": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "quality": {
                                            "type": "string"
                                          },
                                          "url": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "quality",
                                          "url"
                                        ]
                                      }
                                    },
                                    "url": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "name",
                                    "role",
                                    "type",
                                    "image",
                                    "url"
                                  ]
                                }
                              },
                              "all": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "role": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "image": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "quality": {
                                            "type": "string"
                                          },
                                          "url": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "quality",
                                          "url"
                                        ]
                                      }
                                    },
                                    "url": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "name",
                                    "role",
                                    "type",
                                    "image",
                                    "url"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "primary",
                              "featured",
                              "all"
                            ]
                          },
                          "image": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "quality": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "quality",
                                "url"
                              ]
                            }
                          },
                          "downloadUrl": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "quality": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "quality",
                                "url"
                              ]
                            }
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "type",
                          "year",
                          "releaseDate",
                          "duration",
                          "label",
                          "explicitContent",
                          "playCount",
                          "language",
                          "hasLyrics",
                          "lyricsId",
                          "url",
                          "copyright",
                          "album",
                          "artists",
                          "image",
                          "downloadUrl"
                        ]
                      },
                      "description": "Array of song details",
                      "title": "Song Details"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request when query parameters are missing or invalid"
          },
          "404": {
            "description": "Song not found with the given ID or link"
          }
        }
      }
    },
    "/api/songs/{id}": {
      "get": {
        "tags": [
          "Songs"
        ],
        "summary": "Retrieve song by ID",
        "description": "Retrieve a song by its ID. Optionally, include lyrics in the response.",
        "operationId": "getSongById",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "ID of the song to retrieve",
              "title": "Song ID",
              "example": "3IoDK8qI"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "boolean",
              "description": "Include lyrics in the response",
              "title": "Include lyrics",
              "example": "true",
              "default": "false"
            },
            "required": false,
            "name": "lyrics",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with song details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "year": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "releaseDate": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "duration": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "label": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "explicitContent": {
                            "type": "boolean"
                          },
                          "playCount": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "language": {
                            "type": "string"
                          },
                          "hasLyrics": {
                            "type": "boolean"
                          },
                          "lyricsId": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "lyrics": {
                            "type": "object",
                            "properties": {
                              "lyrics": {
                                "type": "string"
                              },
                              "copyright": {
                                "type": "string"
                              },
                              "snippet": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "lyrics",
                              "copyright",
                              "snippet"
                            ]
                          },
                          "url": {
                            "type": "string"
                          },
                          "copyright": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "album": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "name": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "url"
                            ]
                          },
                          "artists": {
                            "type": "object",
                            "properties": {
                              "primary": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "role": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "image": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "quality": {
                                            "type": "string"
                                          },
                                          "url": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "quality",
                                          "url"
                                        ]
                                      }
                                    },
                                    "url": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "name",
                                    "role",
                                    "type",
                                    "image",
                                    "url"
                                  ]
                                }
                              },
                              "featured": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "role": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "image": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "quality": {
                                            "type": "string"
                                          },
                                          "url": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "quality",
                                          "url"
                                        ]
                                      }
                                    },
                                    "url": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "name",
                                    "role",
                                    "type",
                                    "image",
                                    "url"
                                  ]
                                }
                              },
                              "all": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "role": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "image": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "quality": {
                                            "type": "string"
                                          },
                                          "url": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "quality",
                                          "url"
                                        ]
                                      }
                                    },
                                    "url": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "name",
                                    "role",
                                    "type",
                                    "image",
                                    "url"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "primary",
                              "featured",
                              "all"
                            ]
                          },
                          "image": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "quality": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "quality",
                                "url"
                              ]
                            }
                          },
                          "downloadUrl": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "quality": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "quality",
                                "url"
                              ]
                            }
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "type",
                          "year",
                          "releaseDate",
                          "duration",
                          "label",
                          "explicitContent",
                          "playCount",
                          "language",
                          "hasLyrics",
                          "lyricsId",
                          "url",
                          "copyright",
                          "album",
                          "artists",
                          "image",
                          "downloadUrl"
                        ]
                      },
                      "description": "Array of songs"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request when query parameters are missing or invalid"
          },
          "404": {
            "description": "Song not found for the given ID"
          }
        }
      }
    },
    "/api/songs/{id}/lyrics": {
      "get": {
        "tags": [
          "Songs"
        ],
        "summary": "Retrieve lyrics for a song",
        "description": "Retrieve the lyrics for a song by its ID.",
        "operationId": "getSongLyrics",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "ID of the song to retrieve the lyrics for",
              "example": "3IoDK8qI"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with song lyrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "lyrics": {
                          "type": "string"
                        },
                        "copyright": {
                          "type": "string"
                        },
                        "snippet": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "lyrics",
                        "copyright",
                        "snippet"
                      ],
                      "description": "Lyrics for the song"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Lyrics not found for the given song ID"
          }
        }
      }
    },
    "/api/songs/{id}/suggestions": {
      "get": {
        "tags": [
          "Songs"
        ],
        "summary": "Retrieve song suggestions",
        "description": "Retrieve song suggestions based on the given song ID. This can be used to get similar songs to the one provided for infinite playback.",
        "operationId": "getSongSuggestions",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "ID of the song to retrieve suggestions for",
              "example": "yDeAS8Eh"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "number",
              "description": "Limit the number of suggestions to retrieve",
              "title": "Limit",
              "example": 10,
              "default": 10
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with song suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "year": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "releaseDate": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "duration": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "label": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "explicitContent": {
                            "type": "boolean"
                          },
                          "playCount": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "language": {
                            "type": "string"
                          },
                          "hasLyrics": {
                            "type": "boolean"
                          },
                          "lyricsId": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "lyrics": {
                            "type": "object",
                            "properties": {
                              "lyrics": {
                                "type": "string"
                              },
                              "copyright": {
                                "type": "string"
                              },
                              "snippet": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "lyrics",
                              "copyright",
                              "snippet"
                            ]
                          },
                          "url": {
                            "type": "string"
                          },
                          "copyright": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "album": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "name": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "url"
                            ]
                          },
                          "artists": {
                            "type": "object",
                            "properties": {
                              "primary": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "role": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "image": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "quality": {
                                            "type": "string"
                                          },
                                          "url": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "quality",
                                          "url"
                                        ]
                                      }
                                    },
                                    "url": {
                                      "type": "string"
                                    }
[...]
