@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scroll-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

main#main {
  background: url("/images/mainBg.png") no-repeat;
  background-size: contain;
}